<div class="contact">
    <h1>Contact us</h1>
    <div class="contact_cont">

<h3><br>We’d love to hear from you! Whether you have a question about our menu, need assistance with a reservation, or want to provide feedback about your experience, our team is here to help. <br>

    <br>Visit Us: Come diner with us at Atlantis for an unforgettable culinary experience. <br>


    <br>
    Phone: 512345678
    <br>

    <br>
    Email: restaurAtlantisGmail.com
    <br>

    
    <br>
    Business Hours:
    <br>

    <br>
    Monday - Friday: 11 AM - 9 PM
    <br>   

    <br>
    Saturday - Sunday: 12 AM - 7 PM
    <br>

    <br>
    Follow Us:
    Stay up-to-date with the latest promotions, events, and mouth-watering dishes!
    <br>

    <br>
    Instagram: AtlantisDishes
    <br>

    <br>
    Facebook: AtlantisRestaurant
    <br>


    <br>
    
    <br>If you prefer, you can fill out the form below, and we’ll get back to you as soon as possible. Thank you for choosing Atlantis – we look forward to serving you soon! <br>
    
    </h3>
</div>
</div>