
<div class="about">

    <h1>About us</h1>
    <div class="about_cont">

    <h2>Hidden beneath the surface of the everyday lies Atlantis — a restaurant built on imagination, precision, and a deep love for food.

    Founded with the vision of creating something rare, Atlantis blends modern dining with a timeless sense of wonder. Our space is inspired by the mystery of the lost city: elegant, inviting, and just a little otherworldly.
    
    Our team brings together chefs, hosts, and creatives who all share one mission — to make your time with us unforgettable. From carefully plated dishes to ambient lighting and thoughtful service, every detail is part of the journey.
    
    We’re not trying to be everywhere — we’re trying to be your favorite place.
    
    Come for the food. Stay for the vibe. Return for the feeling you didn’t know you were missing.</h2>

    <img src="https://s.yimg.com/ny/api/res/1.2/FM8NIRUvcO12aQS8uY5t5w--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzM-/https://media.zenfs.com/en/insidermonkey.com/32bd76acfd4147b6482cdccd3084927b" alt="">
</div>
</div>