
<div class="mainDiv">
  <div class="form-container">
    <p class="title">Register</p>
    <form class="form" (ngSubmit)="register()" #registerForm="ngForm">
      <div class="input-group">
        <label>Phone number</label>
        <input
          type="text"
		  name="number"
          [(ngModel)]="registerUser.phoneNumber"
          required
        />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="text"
		  name="password"
          [(ngModel)]="registerUser.password"
          required
        />
      </div>

      <button class="sign" type="submit">Sign up</button>
    </form>
  </div>
</div>
